<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.CareServiceRatioMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.CareServiceRatio">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="service_address" jdbcType="TINYINT" property="serviceAddress" />
		<result column="service_ratio" jdbcType="DECIMAL" property="serviceRatio" />
		<result column="service_ratio_status" jdbcType="TINYINT"
			property="serviceRatioStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, service_address, service_ratio, service_ratio_status, create_time, modify_time
	</sql>
	<select id="selectById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_care_service_ratio
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByServiceAddress" parameterType="java.lang.Byte"
		resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_care_service_ratio
		where 
			service_address = #{serviceAddress,jdbcType=TINYINT}
	</select>
	<select id="selectServiceRatioCount" parameterType="com.sh.carexx.bean.care.CareServiceRatioFormBean"
		resultType="java.lang.Integer">
		SELECT
			count(1) totalCount
		FROM
			carexx_care_service_ratio csr
	</select>

	<select id="selectServiceRatioList" parameterType="com.sh.carexx.bean.care.CareServiceRatioFormBean"
		resultType="java.util.Map">
		SELECT
			csr.id id,
			csr.service_address serviceAddress,
			csr.service_ratio serviceRatio,
			csr.service_ratio_status serviceRatioStatus,
			csr.create_time createTime,
			csr.modify_time modifyTime
		FROM
			carexx_care_service_ratio csr
		ORDER BY
			csr.create_time DESC
		LIMIT ${rowIndex}, ${pageSize}
	</select>
	<select id="selectAllServiceRatio" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			carexx_care_service_ratio
		where
			service_ratio_status = 1
		ORDER BY
			create_time DESC
	</select>
	<insert id="insert" parameterType="com.sh.carexx.model.uc.CareServiceRatio">
		insert into
			carexx_care_service_ratio 
		(
			id, service_address, service_ratio,
			service_ratio_status, create_time
		)
		values
		(
			#{id,jdbcType=INTEGER}, 
			#{serviceAddress,jdbcType=TINYINT},
			#{serviceRatio,jdbcType=DECIMAL},
			#{serviceRatioStatus,jdbcType=TINYINT},
			now()
		)
	</insert>
	<update id="update" parameterType="com.sh.carexx.model.uc.CareServiceRatio">
		UPDATE
			carexx_care_service_ratio
		SET
			service_ratio = #{serviceRatio,jdbcType=DECIMAL},
			modify_time = now()
		WHERE
			id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateServiceRatioStatus" parameterType="com.sh.carexx.model.uc.CareServiceRatio">
		UPDATE
			carexx_care_service_ratio
		SET
			service_ratio_status=#{targetStatus,jdbcType=TINYINT},
			modify_time = now()
		WHERE
			id = #{id,jdbcType=INTEGER} and service_ratio_status = #{srcStatus,jdbcType=TINYINT}
	</update>
</mapper>