<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.carexx.uc.dao.StatisticsMapper">
    <resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.Statistics">
        <result column="khbh" property="khbh" jdbcType="VARCHAR"/>
        <result column="khxm" property="khxm" jdbcType="VARCHAR"/>
        <result column="lb" property="lb" jdbcType="VARCHAR"/>
        <result column="ssgs" property="ssgs" jdbcType="VARCHAR"/>
        <result column="xh" property="xh" jdbcType="VARCHAR"/>
        <result column="bh" property="bh" jdbcType="VARCHAR"/>
        <result column="fwdh" property="fwdh" jdbcType="VARCHAR"/>
        <result column="qdr" property="qdr" jdbcType="VARCHAR"/>
        <result column="hly" property="hly" jdbcType="VARCHAR"/>
        <result column="sjh" property="sjh" jdbcType="VARCHAR"/>
        <result column="fph" property="fph" jdbcType="VARCHAR"/>
        <result column="sgrq" property="sgrq" jdbcType="DATE" />
        <result column="jsrq" property="jsrq" jdbcType="DATE" />
        <result column="zcts" property="zcts" jdbcType="VARCHAR"/>
        <result column="jjrts" property="jjrts" jdbcType="VARCHAR"/>
        <result column="dj" property="dj" jdbcType="VARCHAR"/>
        <result column="ysk" property="ysk" jdbcType="VARCHAR"/>
        <result column="zffs" property="zffs" jdbcType="VARCHAR"/>
        <result column="zkje" property="zkje" jdbcType="VARCHAR"/>
        <result column="tzje" property="tzje" jdbcType="VARCHAR"/>
        <result column="ssk" property="ssk" jdbcType="VARCHAR"/>
        <result column="yyk" property="yyk" jdbcType="VARCHAR"/>
        <result column="jskzc" property="jskzc" jdbcType="VARCHAR"/>
        <result column="jsktzje" property="jsktzje" jdbcType="VARCHAR"/>
        <result column="glf" property="glf" jdbcType="VARCHAR"/>
        <result column="bz" property="bz" jdbcType="VARCHAR"/>
        <result column="instId" property="instId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        khbh, khxm, lb, ssgs, xh, bh, fwdh, qdr, hly, sjh, fph, sgrq, jsrq, zcts, jjrts,
        dj, ysk, zffs, zkje, tzje, ssk, yyk, jskzc, jsktzje, glf, bz, instId
    </sql>

    <select id="queryStatistics" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from carexx_statistics
        where instId = #{instId}
        <if test="searchBeginDate != null">
            and DATE_FORMAT(jsrq ,<![CDATA['%Y-%m-%d']]>) <![CDATA[>=]]> DATE_FORMAT(#{searchBeginDate} ,<![CDATA['%Y-%m-%d']]>)
        </if>
        <if test="searchEndDate != null">
            and DATE_FORMAT(jsrq ,<![CDATA['%Y-%m-%d']]>) <![CDATA[<=]]> DATE_FORMAT(#{searchEndDate} ,<![CDATA['%Y-%m-%d']]>)
        </if>
        <if test="hly != null and hly != '' ">
            and hly like CONCAT('%', '${hly}', '%')
        </if>
        <if test="qdr != null and qdr != '' ">
            and qdr like CONCAT('%', '${qdr}', '%')
        </if>
        order by jsrq desc
    </select>


</mapper>